// color palattes
$primary: #ff7c02;
$black: #000;
$white: #fff;
$lightBlack: #222;
$gray: #9d9d9d;
$lightGrey: #e2e4e8;
$creamy: #f8f8f8;
$offWhite: #f1f4f8;
$skyBlue: #dbe5f1;
$LightRed: #ff3a3a;
$linkColor: #3330E4;
$error: #ff4d4f;
$success: #25A07B;

// font family
$interLightFont: "Inter-Light";
$interRegularFont: "Inter-Regular";
$interMediumFont: "Inter-Medium";
$interSemiboldFont: "Inter-Semibold";
$interBoldFont: "Inter-Bold";
$interBlackFont: "Inter-Black";
$Pacifico: "Pacifico";

// font weight
$light300: 300;
$regular400: 400;
$medium500: 500;
$semibold600: 600;
$bold700: 700;
$black900: 900;