.sidebar-content {
  position: sticky;
  top: 0;
  display: flex;
  background-color: $offWhite;
  height: 100%;

  &.close-sidebar {
    margin-right: 50px;

    @media screen and (max-width: 1440px) {
      margin-right: 40px;
    }

    @media screen and (max-width: 1199px) {
      margin-right: 30px;
    }
  }

  .collapse-btn {
    outline: none;
    position: absolute;
    right: -59px;
    min-width: 55px !important;
    top: 30px;
    margin: 0;
    background: $offWhite !important;
    color: $black !important;
    border-radius: 0 6px 6px 0 !important;
    z-index: -1;

    @media screen and (max-width: 1440px) {
      right: -50px;
    }

    @media screen and (max-width: 1199px) {
      right: -35px;
    }

    img {
      @media screen and (max-width: 1440px) {
        width: 24px;
      }

      @media screen and (max-width: 1199px) {
        width: 20px;
      }
    }
  }
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  transition: width 1s, opacity 1s;

  @media screen and (max-width: 1440px) {
    padding: 20px 15px;
  }

  @media screen and (max-width: 1199px) {
    padding: 15px 8px 10px;
  }

  &.collapsed {
    padding: 20px 10px;
    overflow: hidden;
  }

  .create-btn-div {
    border-bottom: 1px solid $lightGrey;
    width: 100%;
    margin: 10px auto 0;
    padding-bottom: 15px;

    @media screen and (max-width: 1440px) {
      margin: 0 auto;
    }

    @media screen and (max-height: 601px) {
      padding-bottom: 10px;
    }

    .create-btn {
      width: 100%;
      margin: 0 auto;
      background-color: orange;
      color: white;
      border: none;
      height: 40px;
      border-radius: 15px;
      cursor: pointer;
      @extend .text-16;

      img {
        margin-right: 10px;
      }
    }
  }

  .submenu-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;


    justify-content: space-between;

    .submenu1 {
      padding-top: 12px;
      white-space: nowrap;
      overflow: auto;
      margin-bottom: 20px;

      @media screen and (max-height: 601px) {
        padding-top: 5px;
      }

      ul {
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;

        li {
          list-style: none;
          cursor: pointer !important;
          font-family: $interMediumFont;
          @extend .text-16;
          color: $lightBlack;
          display: flex;
          align-items: center;
          border-radius: 6px;
          margin: 2px 0;
          border-bottom: 1px solid transparent;

          a {
            display: flex;
            width: 100%;
            padding: 13px 20px;
            color: $lightBlack;
            text-decoration: none;

            @media screen and (max-width: 1440px) {
              padding: 12px 15px;
            }

            @media screen and (max-width: 1199px) {
              padding: 10px 10px;
            }

            @media screen and (max-height: 601px) {
              padding: 8px 10px 8px;
            }
          }

          * {
            cursor: pointer !important;
          }

          svg {
            font-size: 19px;
            margin-right: 10px;
          }

          &.active,
          &:hover {
            background-color: $lightGrey;
            border-color: #c7ccd7;
          }
        }
      }

      .horizontal-rule-sidebar {
        border: 1px solid $lightGrey;
        margin-top: 12px;
      }

      .sidebar-collapse-parent-container {
        .ant-collapse {
          border-radius: 0px;
          border: none;

          .ant-collapse-item {
            border-bottom: none;

            .ant-collapse-header {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              padding: 12px 0px 8px 0px;

              background: $offWhite;

              .ant-collapse-header-text {
                color: $gray;
                font-family: $interMediumFont;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                span {
                  svg {
                    margin-left: 4px;
                  }
                }
              }

              .ant-collapse-expand-icon {
                svg {
                  height: 16px;
                  width: 16px;
                }
              }
            }

            .ant-collapse-content {
              background: $offWhite;
              border-top: none;

              .ant-collapse-content-box {
                padding: 0px 0px 0px 10px;
                border-left: 1px solid $lightGrey;
              }
            }
          }
        }
      }
    }

    .blog-upgrade {
      flex-direction: column !important;
      padding-bottom: 8px !important;

      @media screen and (max-width: 1199px) {
        padding-bottom: 5px !important;
      }

      button {
        width: 100% !important;
        margin: 5px 0 !important;

        &:first-child {
          margin-top: 0 !important;
        }
      }
    }

    .submenu2 {
      // background-color: $skyBlue;
      // border-radius: 8px;
      // padding: 8px 10px;
      // white-space: nowrap;
      margin-top: auto;

      @media screen and (max-width: 1199px) {
        padding: 8px 5px;
      }

      ul {
        padding-inline-start: 0;
        background: $skyBlue;
        border-radius: 10px;

        li {
          display: flex;
          align-items: center;
          list-style: none;
          cursor: pointer !important;
          font-family: $interMediumFont;
          @extend .text-16;
          color: $lightBlack;
          padding: 5px 0 5px 12px;


          @media screen and (max-width: 1440px) {
            padding: 5px 0 5px 10px;
          }

          @media screen and (max-width: 1199px) {
            padding: 4px 0 4px 10px;
          }

          * {
            cursor: pointer !important;
          }

          svg {
            font-size: 20px;
          }

          .label {
            margin-left: 10px;
            flex: 1;
            text-align: left;
            @extend .text-16;
            white-space: normal;
          }

          >.anticon {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 1199px) {
              width: 32px;
              height: 32px;
            }
          }

          .ant-avatar {

            @media screen and (max-width: 1199px) {
              width: 32px !important;
              height: 32px !important;
            }
          }
        }
      }

      .arrow-label {
        display: flex;
        align-items: center;
        flex: 1;
        background: none !important;
        padding: 0 !important;
        color: $lightBlack !important;
        font-family: $interMediumFont !important;
        outline: none;

        svg {
          font-size: 18px;
          margin: 0;
        }
      }
    }
  }
}

.sidebar-wrapper.collapsed * {
  opacity: 0;
  pointer-events: none;
}

.sidebar-wrapper:not(.collapsed) {
  transition: width 1s, opacity 1s;
  opacity: 1;
  /* set opacity to 1 when not collapsed */
}

.sidebar-wrapper:not(.collapsed) .create-btn,
.sidebar-wrapper:not(.collapsed) .submenu-items {
  transition: width 0.5s, opacity 2s;
  opacity: 1;
}

.collapse-btn {
  background-color: #f1f4f8;
  border: none;
  margin-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
  width: 70px;
  height: 80px !important;

  @media screen and (max-width: 1440px) {
    width: 55px;
    height: 70px !important;
  }

  @media screen and (max-width: 1199px) {
    width: 40px;
    height: 60px !important;
  }
}

.radio-buttons-parent-sidebar {
  .ant-radio-group {
    display: flex;
    flex-direction: column;

    .ant-radio-wrapper {
      padding: 6px 0px 6px 8px;

      margin: 0px;

      span {
        font-family: $interMediumFont;
        font-size: 14px;
        font-style: normal;
        line-height: normal;
        color: $lightBlack;
        padding-right: 0px;
        font-weight: 500;

        svg {
          height: 12px;
          width: 12px;
        }
      }
    }

    .ant-radio-wrapper-disabled {
      span {
        color: #777777;
      }

    }
  }

  .info-radio-dropdown {
    margin-left: 4px;
    cursor: pointer;
  }

  .free-container {
    padding-left: 6px;
    padding-right: 6px !important;
    border-radius: 20px;
    background: rgba(255, 124, 2, 0.14);
    color: $primary !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    margin-left: 8px;

  }

  .sidebar-radio-content {
    border-radius: 6px;
    background: rgba(255, 124, 2, 0.08);
  }
}